# Git files
.git
.gitattributes
.gitignore
.lfsconfig
.cbfBlacklist
.cbfProject
 
#build files
docker-compose.*
bin/*
vols*/*
build/libs
build/tmp
**/CRF.properties
**/CBF.properties
**/scanned.paths
**/*.loaded

# Information files
LICENSE
README.md
